.shopPage {
  padding: 60px 10%;
  background-color: #ffffff;
  color: #222;

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;

    &:not(:first-of-type) {
      margin-top: 60px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 60px;
  justify-items: center;
  width: 100%;
  margin-top: 30px;
}

