.shopPage {
  padding: 60px 5%;
  background-color: #fff;
  color: #222;

  h2 {
    margin-bottom: 30px;
    font-size: 1.8rem;
    text-align: center;
  }

  .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  justify-items: center;
}
}
